[Unit]
Description=Audi MMI touch home-gesture watcher

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/audi-mmi/bin/touch-home-watcher.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
