[Unit]
Description=Audi MMI kiosk (cage + native launcher / CarPlay)
After=systemd-user-sessions.service getty@tty1.service seatd.service
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/opt/audi-mmi/bin/kiosk-runner.sh
User=1000
SupplementaryGroups=input video render plugdev
RuntimeDirectory=audi-mmi
RuntimeDirectoryMode=0700
Environment=XDG_RUNTIME_DIR=/run/audi-mmi
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
StandardInput=tty
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=2
UtmpIdentifier=tty1
UtmpMode=user

[Install]
WantedBy=multi-user.target
